/* Estilos Globais para páginas HTML Gerais */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Definição de fontes */
@font-face {
    font-family: texto_all;
    src: url(../Fonts/Inter-VariableFont_opsz,wght.ttf);
}

@font-face {
    font-family: titulo_all;
    src: url(../Fonts/RobotoSlab-VariableFont_wght.ttf);
}

/* Estilização do corpo da página */
body {
    width: 100%;
    font-family: texto_all, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: 1rem;
    color: #080705;
    background: linear-gradient(to bottom, #d9f4fc, #a8e0fa);
}

/* Listas e links */
ul {
    list-style-position: inside;
}

a {
    text-decoration: none;
    color: #2635C0;
}

a:hover {
    color: #1d2995;
}

/* Configuração de container geral */
.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    padding: 0 10px;
}

/* Estilos da barra de navegação */
.navbar {
    padding: 5px 0;
    background-color: #fff;
    border-bottom: 0.3rem solid #007494;
    box-shadow: 0 0 15px 1px rgba(60, 60, 60, 0.41);
}

.navbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-links {
    display: flex;
    align-items: center;
    margin-left: auto;
    flex-wrap: wrap;
}

.navbar-links a {
    font-weight: 500;
    color: white;
}

.navbar-links a.active {
    transform: scale(1.15);
    text-decoration: 0.5px underline;
    border: 1px solid #000000;
    background: none;
    color: black;
}




/* Conteúdo principal */
.content {
    padding: 10px 10px;
    text-align: center;
}


/* Rodapé */
.footer {
    padding: 5px;
    background-color: #fff;
    border-top: 0.2rem solid #1a1a1a;
    box-shadow: 0 -1px 15px 1px rgba(60, 60, 60, 0.41);
    margin-top: 15px;
}

.footer-links {
    font-size: 17px;
    text-align: center;
}

.footer-links a {
    margin-right: 20px;
}

/* Ícones de redes sociais */
.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons img {
    width: 40px;
    height: 40px;
    margin: 0 10px;
}








