/* Definição de Fontes */
@font-face {
  font-family: texto_all;
  src: url(../Fonts/Inter-VariableFont_opsz\,wght.ttf);
}

/* Estilos gerais do body */
body {
  margin: 0;
  font-family: texto_all, Arial, Helvetica, sans-serif;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

/* Estilos do conteúdo */
.content {
  padding: 10px 0;
}

/* Estilos da .card */
.card {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 20px;
  border: 0.35rem solid;
  border-radius: 10px;
  box-shadow: 0px 9px 20px 6px #007494;
  background-color: #fff;
  max-width: 1200px;
  margin: 10px auto;
}

.card-content {
  flex: 1;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 10px;
  justify-content: flex-start;
}

/* Estilos da .nav-sobre */
.nav-sobre {
  display: flex;
  float: left;
  margin: 10px;
  flex-direction: column;
  width: 100px;
}

.img_sobre {
  width: 25%;
  height: auto;
  float: right;
  margin-left: 35px;
}

/* Estilos da imagem .card-img */
.card-img {
  margin-bottom: 0;
  margin-right: 20px;
  max-width: 350px;
  justify-content: center;
  flex-direction: row-reverse;
  width: auto;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 20px;
}

/* Responsividade para telas maiores que 770px */
@media (min-width: 770px) {
  .card {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 780px;
    margin-bottom: 20px;
    padding: 24px;
    box-shadow: 0px 9px 20px 6px #007494;
    border-radius: 10px;
    background-color: #fff;
  }

  .navbar-links {
    align-items: center;
    margin-left: auto;
  }

  #gif-sobre {
    display: flex;
    height: 90px;
  }

  .img_sobre {
    width: 20%;
  }
}

/* Estilos para o texto .p-sobre */
.p-sobre {
  font-size: 17px;
  font-weight: 500;
  line-height: 1.5rem;
  margin-bottom: 17px;
  color: rgb(0, 0, 0);
  text-align: justify;
}

/* Responsividade para telas menores que 500px */
@media (max-width: 500px) {
  .container {
    margin: 10px;
  }

  .img_sobre {
    width: 30%;
    margin-left: 5px;
  }

  .navbar-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .search-box input[type="text"] {
    width: 100%;
    max-width: 480px;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 15px;
    transition: border-color 0.3s, box-shadow 0.3s;
  }

  .search-box {
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: wrap;
  }

  .btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    color: white;
    background-color: #292828;
    padding: 0.475rem 1.35rem;
    border-radius: 0.375rem;
    font-size: 15px;
    font-family: texto_all;
    font-weight: 400;
    line-height: 1.6;
    transition: transform 200ms ease-in;
    margin: 0 6px;
  }

  .navbar-links {
    font-size: 1px;
    align-items: center;
    margin-left: auto;
    flex-wrap: nowrap;
  }

  .navbar-links a.active {
    background: none;
    color: black;
    transform: scale(1.11);
    text-decoration: 0.5px underline;
    border: 1px solid #000000;
    padding: 13px;
  }
}
