/* Reset de Estilos */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Definição de Fontes */
@font-face {
    font-family: texto_all;
    src: url(../Fonts/Inter-VariableFont_opsz\,wght.ttf);
}

@font-face {
  font-family: titulo_night;
  src: url(../Fonts/January\ Night.ttf);
}

/* Estilos do body */
body {
    width: 100%;
    font-family: texto_all, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: 1rem;
    color: #080705;
    background: linear-gradient(to bottom, #d9f4fc, #a8e0fa);
}

/* Estilos do titulo */
.titulo_night {
  border-radius: 3px;
  box-shadow:  #03303d;
  border: solid 1px #03303d;
  display: flex;
  font-family: titulo_night, Arial, Helvetica;
  color:#ffffff;
  font-size: 33px;
  max-width:100%;
  margin: 12px 0px;
  padding: 0 6px;
  background-color: #007494;
  box-shadow: 3px 3px 0px 0px #080705;
  letter-spacing: 0.1em;
  justify-content: space-evenly;
  width: 800px;
}

/* Estilos do .card */
.card {
  margin: auto;
  display: inline-block;
}

/* Estilos da tabela  */
#customers {
    font-family: texto_all;
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    position: center;
}

#customers td, #customers th {
    border: 2px solid #000000;
    position: center;
    padding: 6px;
}

#customers tr:nth-child(even){
    background-color: #ecedee;
}

#customers tr:nth-child(even):hover{
    background-color: #D6EEEE;
}

#customers a,tr {
    color:rgb(0, 0, 0);
}

tr:hover {
  background-color: #D6EEEE;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #478a9d;
    color: white;
}

/* Estilos da lista ul.lista */
ul.lista {
    list-style-type: square;
    text-align: justify;
    padding: 25px;
    width: 100%;
    max-width: 800px;
    background: #f9f9f9;
    border-radius: 10px;
}

ul.lista li {
    margin-bottom: 15px;
}

ul.lista p {
    margin: 5px 0;
}

/* Estilos para os ícones */
.icons {
    height: auto;
    width: 50px;
}

/* Responsividade para telas menores */
@media (max-width: 890px) {
  .container {
      width: 95%;
      max-width: 1100px;
      margin: auto;
      padding: 0 10px;
  }

  .titulo_night {
      border-radius: 3px;
      box-shadow:  #03303d;
      border: solid 1px #03303d;
      display: flex;
      width: 74%;
      font-family: titulo_night, Arial, Helvetica;
      color:#ffffff;
      font-size: 33px;
      max-width:100%;
      margin: 12px 0px;
      padding: 0 6px;
      background-color: #007494;
      box-shadow: 3px 3px 0px 0px #080705;
      letter-spacing: 0.1em;
      justify-content: space-evenly;
  }
}

@media (max-width: 790px) {
    .container {
       margin-top: 8px;
    }

    .navbar-links {
      display: flex;
      margin-left: auto;
      flex-direction: row;
      flex-wrap: nowrap;
    }

    .titulo_night {
      border-radius: 3px;
      box-shadow:  #03303d;
      border: solid 3px #03303d;
      display: flex;
      width: 100%;
      font-family: titulo_night, Arial, Helvetica;
      color:#ffffff;
      font-size: 20px;
      max-width:100%;
      margin: 12px 0px;
      padding: 0 6px;
      background-color: #007494;
      box-shadow: 3px 3px 0px 0px #080705;
      letter-spacing: 0.1em;
      justify-content: space-evenly;
    }

    ul.lista {
      padding: 15px;
      width: 100%;
      max-width: 100%;
      border-radius: 10px;
    }

    .icons {
        height: auto;
        width: 50px;
    }
}
