@font-face {
    font-family: texto_all;
    src: url(../Fonts/Inter-VariableFont_opsz\,wght.ttf);
}

@font-face {
    font-family: titulo_all;
    src: url(../Fonts/RobotoSlab-VariableFont_wght.ttf);
}
/* Estilos específicos para o Index */




.index-content {
    padding: 30px 0;
}

.index-banner {
    background-color: #f5f5f5;
    padding: 50px 0;
    text-align: center;
}

.index-banner h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.index-banner p {
    font-size: 1.2rem;
    color: #666;
    line-height: 1.5;
}

/* Cards (Review) */
.index-review img {
    width: 100%;
   /* max-width: 350px;*/
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 20px;
}

.index-review-content {
    flex: 1;
}



.index-review-genres {
    font-style: italic;
    margin-bottom: 15px;
}

.index-review-synopsis,
.index-review-text {
    text-align: justify;
    margin-bottom: 15px;
}

 .menu-container {
    display: flex;
    align-items: center;
}




/* Dropdown */
.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 0;
}

.dropdown-content {
    display: none;
    border-radius: 10px;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    color: black;
    font-size: 15px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #e2dfdf;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.review {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 20px;
    padding: 20px;
    border: 0.35rem solid;
    border-radius: 10px;
    box-shadow: 10px 8px 2px 2px #3898b3;
    background-color: #fff;
}

.review img {
    width: 100%;
    
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 20px;
}

.review-content {
    flex: 1;
}

.review-title {
    font-family: titulo_all, Arial;
    text-align: left;

    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.review-genres {
    text-align: left;
    font-style: italic;
    margin-bottom: 15px;
}

.review-synopsis,
.review-text {
    font-family: texto_all, arial;
    text-align: justify;
    line-height: 1.5rem;
    margin-bottom: 15px;
}


.social-icons img {
    width: 40px;
    height: 40px;
    margin: 0 10px;
}






/* ISSO É A CONFICGURAÇÃO DAS LETRAS DOS MENUS*/


.navbar .navbar-brand {
    font-size: 30px;
  }
  .navbar .nav-item {
    padding: 5px 5px;
  }
  .navbar .nav-link {
    font-size: 20px;
    margin-left: 10px;
  }
 
  















@media (min-width: 768px) {
    .review {
        display: flex;
        flex-wrap: wrap;
    }

    .review img {
        margin-bottom: 0;
        margin-right: 20px;
    }
    .review img {
        max-width:350px;
        justify-content: center;
        flex-direction: row-reverse;
        
        width: auto;
        height: auto;
        object-fit: cover;
        border-radius: 5px;
        margin-bottom: 20px;
    }


    .review {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        max-width: 1200px;

        margin-bottom: 20px;
        padding: 20px;
        border: 0.35rem solid;
        border-radius: 10px;
        box-shadow: 10px 8px 2px 2px #3898b3;

        background-color: #fff;
    }
    .navbar-links {
        /* display: flex; */
        align-items: center;
        margin-left: auto;
    }
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    border-radius: 10px;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;

    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    font-size: 15px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;

}

.dropdown:hover .dropdown-content {
    display: block;
}


@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
        align-items: center;
        justify-content: space-between;
        flex-direction: column-reverse;
    }

    /* Mantém os itens da navbar mais para a esquerda */
    .navbar-nav {
        margin-right: auto;
    }

    /* Mantém as redes sociais mais para a direita */
    .social-icons {
        margin-left: auto;
    }
}
     
        @media (min-width: 992px) {
            .navbar-expand-lg .navbar-collapse {
                display: flex !important;
                flex-basis: auto;
                justify-content: space-between; /* Isso distribui o espaço entre os itens */
                margin-left: 160px;
            }
        }
        

.separator {
    width: 80%; /* Define a largura da linha */
    height: 2px; /* Define a altura da linha */
    background: linear-gradient(to right, transparent, #ccc, transparent); /* Efeito de fade nas bordas */
    margin: 10px 0; /* Espaçamento superior e inferior */
}


/* Dropdown */
.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 15px; /* Adiciona espaçamento à esquerda do dropdown */
}

.dropdown-content {
    display: none;
    border-radius: 10px;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    font-size: 15px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #e2dfdf;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Estilos da barra de navegação */
.navbar {
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 0.3rem solid #007494;
    box-shadow: 0 0 15px 1px rgba(60, 60, 60, 0.41);
}

.navbar-content {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Alinha os itens à direita */
    width: 100%;
}

.navbar-links {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.navbar-links a {
    font-weight: 500;
    color: black;
    margin-right: 20px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.navbar-links a:hover {
    color: #007494;
    transform: scale(1.1);
}

.navbar-links a.active {
    transform: scale(1.15);
    text-decoration: underline;
    color: black;
    border: 1px solid #000000;
    background: none;
}

/* Responsividade */
@media (max-width: 992px) {
    .navbar-content {
        flex-direction: column;
        align-items: center;
    }

    .navbar-links {
        justify-content: center;
        width: 100%;
    }

    .navbar-links a {
        margin-right: 10px;
    }

    /* Ajustando o alinhamento para a versão mobile */
    .navbar input[type="text"] {
        margin-bottom: 10px; /* Espaçamento abaixo da barra de pesquisa */
    }

    .dropdown {
        margin-left: 0;
    }
}

.navBar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.navBar input[type="text"] {
    width: 100%;
    max-width: 510px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 15px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.navBar input[type="text"]:hover,
.navBar input[type="text"]:focus {
    border-color: #00c4ff;
    box-shadow: 0 0 8px #71d5ff;
    outline: none;
}



/* Dropdown */
.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 15px; /* Adiciona espaçamento à esquerda do dropdown */
}

.dropdown-content {
    display: none;
    border-radius: 10px;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    font-size: 15px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #e2dfdf;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Estilos da barra de navegação */
.navbar {
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 0.3rem solid #007494;
    box-shadow: 0 0 15px 1px rgba(60, 60, 60, 0.41);
}

.navbar-content {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Alinha os itens à direita */
    width: 100%;
}

.navbar-links {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.navbar-links a {
    font-weight: 500;
    color: black;
    margin-right: 20px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.navbar-links a:hover {
    color: #007494;
    transform: scale(1.1);
}

.navbar-links a.active {
    transform: scale(1.15);
    text-decoration: underline;
    color: black;
    border: 1px solid #000000;
    background: none;
}

/* Responsividade */
@media (max-width: 992px) {
    .navbar-content {
        flex-direction: column;
        align-items: center;
    }

    .navbar-links {
        justify-content: center;
        width: 100%;
    }

    .navbar-links a {
        margin-right: 10px;
    }

    /* Ajustando o alinhamento para a versão mobile */
    .navbar input[type="text"] {
        margin-bottom: 10px; /* Espaçamento abaixo da barra de pesquisa */
    }

    .dropdown {
        margin-left: 0;
    }
}


/* Estilo para o modal */
.modal {
    display: none; /* Oculta o modal inicialmente */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.card {
    width: 300px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease; /* Adiciona transição para o efeito hover */
  }
  
  .card:hover {
    transform: translateY(-5px); /* Efeito hover */
  }
  
  .card__image {
    width: 100%;
    height: auto;
    display: block; /* Evita espaços em branco abaixo da imagem */
  }
  
  .card__content {
    padding: 20px;
  }
  
  .card__title {
    margin-bottom: 10px;
  }
  
  .card__genres {
    font-size: 0.8em;
    color: #777;
    margin-bottom: 10px;
  }
  
  .card__synopsis,
  .card__review {
    margin-bottom: 20px;
  }
  
  .card__review {
    display: none; /* Oculta o review inicialmente */
  }
  
  .card__button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Adiciona transição para o efeito hover */
  }
  
  .card__button:hover {
    background-color: #0056b3; /* Efeito hover no botão */
  }
  
  /* Estilos para telas menores (responsividade) */
  @media (max-width: 400px) {
    .card {
      width: 90%; /* O card ocupa 90% da largura da tela */
      margin: 20px auto; /* Centraliza o card */
    }
  }
  /* ... (rest of your CSS code) ... */

  .card__review-expand {
      display: none; /* Oculta o review inicialmente */
  }